/* Eng. Ala Section */
    /* Duration Section */
#duration
{
    color: white;
    width: 100%;
    height: 330px;
    background-image: url(../images/invitation.jpg);
    background-size: cover;
    background-color: rgba(214, 46, 51, 0.6);
    background-blend-mode: overlay;
}

#duration .container
{
    padding: 100px 0px;
}

.time
{
    padding: 50px;
    border: 1px solid white;
}
/* hossam */
.menu{
    position: fixed;
    width: 200px;
    left: -200px;
    top: 0;
    bottom: 0;
    background-color: #1b1e21;
    z-index: 355;
}
.menu ul li{
    padding: 15px;
}
.menu ul li a {
    color: #f7f7f7;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all linear .3s;
    text-transform: capitalize;
}
.menu ul li a:hover{
    color: #0C919D;
}
.hold-icon{
    position: absolute;
    top: 50%;
    right: -20%;
    background-color: #1b1e21;
    color: #f7f7f7;
    transform: translate(-50%,-50%);
    border-radius: 5px;
}
.hold-icon .fa-arrow-right {
    padding: 15px;
    cursor: pointer;
    position: relative;
    right: -10px;
    transition: all linear .5s;
}
/* end*/
/* Eng. Abeer Section */
#singers h3.singer{
  background-color: rgba(214, 46, 51 , 0.6);
  padding:10px;
  cursor: pointer;
  margin:0;
}
#singers p{
  background-color: #ccc;
  padding:20px;
  display: none;
  margin:0;
  color:#000;
  font-size: 13px
}

/*End*/



/* Abdallah Section */
/*    -> WORK SECTION <-    */
#work h3
{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

#work .work-box
{
    cursor: pointer;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

#work .work-box .work-img 
{
    overflow: hidden;
}

#work .work-box:hover img
{
    transform: scale(1.3);
}

#work .work-box .work-img img
{
    transition: transform 1s;
}

#work .work-box .work-content 
{
    padding: 2rem 1rem;
}

#work .work-box .work-content h2
{
    font-size: 1.2rem;
}

#work .work-box .work-content .w-more
{
    font-size: .8rem;
}

#work .work-box .work-content .w-ctegory
{
    color: #0078ff;
}

#work .work-box .work-content i
{
    float: right;
    font-size: 1.5rem;
    color: #0078ff;
    border: 5px solid #0078ff;
    border-radius: 50%;
}

.line 
{
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
}

/*    End Of Abdallah    */



/* Abdullatif Section */
.all-members
{
    overflow: auto;
    margin:30px auto;
}

.all-members .item1
{
    width: 33.3333%;
    float: left;
    text-align: center;
    color: #ffff;
    padding: 0 15px;
}

.member
{   
    position: relative;
    border: 3px solid #ffff;
    overflow: hidden;
}
.member img 
{
    width: 100%
}

.member .member-caption
{
    background-color: rgba(42,63,85,.7);
    position: absolute;
    top: 100%;
    left: 0%; 
    height: 100%;
    width: 100%;
    transition: 1s top;
}

.member:hover .member-caption
{
    top: 0;
}

.member .member-caption h2
{
    background-color: #2A3F55;
    margin-top: 0;
    padding: 10px;
    
}

.member .member-caption p
{
    font-size: 18px;
    padding: 25Px;
}




.member1
{   
    position: relative;
    border: 3px solid #ffff;
    overflow: hidden;
}
.member1 img 
{
    width: 100%;
    transition: transform 1s 1s;
}
.member1:hover img 
{
    transform: scale(1.1);
}

.member1 .member1-caption
{
    background-color: rgba(42,63,85,.7);
    position: absolute;
    top: 0%;
    left: 0%; 
    height: 100%;
    width: 100%;
    transition: 1s opacity , 1s transform;
    opacity: 0;
}

.member1:hover .member1-caption
{
    opacity: 1;
    transform: rotate(360deg);
}

.member1 .member1-caption h2
{
    background-color: #2A3F55;
    margin-top: 0;
    padding: 10px;
    
}

.member1 .member1-caption p
{
    font-size: 18px;
    padding: 25Px;
}



.member2
{   
    position: relative;
    border: 3px solid #ffff;
    overflow: hidden;
}
.member2 img 
{
    width: 100%;
    transition: transform 1s 1s;
}
.member2:hover img 
{
    transform: scale(1.1);
}

.member2 .member2-caption
{
    background-color: rgba(42,63,85,.7);
    position: absolute;
    top: 0%;
    left: 0%; 
    height: 100%;
    width: 100%;
    transition: 1s opacity , 1s transform;
    opacity: 0;
}

.member2:hover .member2-caption
{
    opacity: 1;
    transform: rotate(360deg);
}

.member2 .member2-caption h2
{
    background-color: #2A3F55;
    margin-top: 0;
    padding: 10px;
    position: relative;
    left: 120%;
    transition: left 1s 2s;
}

.member2:hover .member2-caption h2
{
    left: 0%;
}

.member2 .member2-caption p
{
    font-size: 18px;
    padding: 25Px;
    position: relative;
    left: 120%;
    transition: left 1s 2.5s;
}

.member2:hover .member2-caption p
{
    left: 0%;
}
/*  End  */
